@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Padauk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

/* || RESET (REMOVING DEFAULT STYLES)  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}
header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}
header,
footer {
  position: sticky;
  background: #1e293b;
  color: whitesmoke;
}
nav {
  background-color: white;
  color: white;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}
main {
  flex-grow: 1;
}
#navbarNavAltMarkup > div > a:hover {
  color: #000;
  border-bottom: 1.5px solid #000;
}
.navbar-links a {
  font-size: 2rem;
  margin-right: 1rem;
}
.navbar-links {
  margin: 0 auto;
}
.download-cv button,
.download-cv-2 button {
  padding: 1.1rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
}
.download-cv-2 {
  display: none;
}
nav .bi:hover {
  font-size: 2rem;
}
.hero {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 2rem;
}
.download-cv-2 {
  display: none;
}
.display-picture {
}
.dp-container {
  display: grid;
  place-content: center;
  width: 35%;
}
.intro {
  text-align: left;
  padding-left: 2.5rem;
  font-size: 2.1rem;
  width: 50%;
}
.intro-headline {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.first-name {
  font-size: 3.7rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(29, 148, 29);
}
.stack {
  font-size: 3rem;
  font-weight: bolder;
  font-family: cursive;
  color: #043379;
}
.projects {
  margin-top: 2rem;
  padding: 2rem 4rem;
  background-color: antiquewhite;
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
}
.projects > h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2rem;
}
#carouselExampleCaptions {
  padding: 0 5rem;
}
.carousel-indicators {
  width: 15rem;
  bottom: -3rem;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
}
.sliders {
  /* || CHECK FOR THIS IT'S NOT WORKING FOR ANY ELEMENT */
  background-color: purple;
  color: blue;
  height: 3rem;
}
.controller {
  background-color: black;
  opacity: 0.5;
}
.contact-section {
  padding: 80px 0 90px 0;
  margin: 5rem;
  padding: 5rem;
  background-color: aliceblue;
}
.contact-form-heading {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}
.emailHelp-text {
  color: green;
  text-align: left;
  margin: 2rem 0 3rem 0;
}
.project-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #d6d6d680; */
  padding: 2rem 0;
  gap: 2rem;
}
.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #0077b5; */
  width: 100rem;
  padding: 2rem 0;
}

.project-sect div:nth-of-type(even) {
  flex-direction: row-reverse;
}
.project-sect div:nth-of-type(even) .project-description {
  margin-right: -5%;
}
.project-description {
  width: 30rem;
  /* background: #02537ed0; */
  border-radius: 0.6rem;
  margin-left: -5%;
  box-shadow: 0 0 20px #00000048;
  padding: 2rem;
  z-index: 2;
}
.project-description__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.project-description__buttons a {
  color: #fff;
  text-decoration: none;
}
.contact-form {
  margin-bottom: 2rem;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.contact-form-divs {
  text-align: left;
  padding: 2px 0;
  font-family: "Montserrat", sans-serif;
}
.contact-section > button {
  border-radius: 0px;
}
#message {
  height: 400px;
}
.footer {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  color: #efefef;
  display: flex;
}
.footer ul {
  list-style: none;
  padding: 0 3rem;
  font-size: 1.2rem;
}
li {
  margin-bottom: 15px;
}
.footer ul a {
  text-decoration: none;
}
.footer div {
  text-align: center;
  width: auto;
}
.footer .col-1 {
}
.col-1 {
}
.col-2 {
}
.col-3 {
}
.col-2 {
  flex-grow: 2;
}
.footer div h3 {
  font-weight: 900 !important;
  font-size: 1.8rem;
  /* color: yellow; */
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
}
.col-1 a {
  color: #efefef;
}
.col-1 a:hover {
  border-bottom: 1.5px solid #fff;
}
.newsletter-form input {
  width: 30rem;
  height: 3.5rem;
  border-radius: 4px;
  text-align: center;
  margin: auto;
}
.newsletter-form {
}
.newsletter-form button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
}
.newsletter-form button:hover {
  color: #1e293b;
  background-color: #fff;
}
.social-icons {
  font-size: 1.5rem;
}
.social-icons i {
  margin: 10px;
  cursor: pointer;
  display: block;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.social-icons i:hover {
  border-bottom: 0.5px solid #fff;
}
.bi-github {
  color: #000;
}
.fa-github:hover {
  color: #fff;
}
.fa-twitter:hover,
.bi-twitter {
  color: #1da1f2;
}
.fa-instagram:hover,
.bi-instagram {
  color: #fb3958;
}
.fa-linkedin:hover,
.bi-linkedin {
  color: #0077b5;
}
.copyright {
  margin: 1.2rem 0 1rem 0;
}
/* Cursor */
.typed-cursor {
  color: red;
}

@media (max-width: 412px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
    gap: 2rem;
  }
  .col-3,
  .col-2,
  .contact-form {
    display: none;
  }

  .dp-container {
    display: grid;
    place-content: center;
    background: yellow;
    width: 100%;
    height: 50%;
  }
  .intro {
    text-align: left;
    background: red;
    width: 100%;
    height: 40%;
  }
}
@media (max-width: 1000px) {
  .download-cv {
    display: none;
  }
  .download-cv-2 {
    background: red;
    display: block;
    margin-top: 5rem;
  }
}
